<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="motos2">
      <ion-icon name="speedometer-sharp"></ion-icon>
      <ion-label>Motos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repuestos">
      <ion-icon name="cog-sharp"></ion-icon>
      <ion-label>Repuestos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" (click)="editarCliente">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
